<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB5VRbbQKzkxqu_oh2l65Ssijyj0gO5_B4</string>
	<key>GCM_SENDER_ID</key>
	<string>994948478040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notif.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>notif-efa21</string>
	<key>STORAGE_BUCKET</key>
	<string>notif-efa21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994948478040:ios:18fad52c859b962e06862d</string>
</dict>
</plist>